// Global Dimensions

// Page widths
$max-page-width: 1000px;
$min-page-width: 320px;
$large-screen-width: 1000px;
$medium-screen-width: 768px;
$small-screen-width: 480px;
$side-bar-width: 200px;

// Global spacing
$h-spacing: 10px;
$v-spacing: 8px;
$line-height: 1.2;

// Seat map
$mapHeight: 585px;

// Legacy dimensions
$navbtn-margin: 2px;
$navbtn-padding: 10px;
$mpu-width: 300px;
$medium-screen-gutter: 12px;
$large-screen-gutter: 10px;
$block-spacing: 20px;

// General dimensions
$margin-sm: 10px;
