.lightboxoverlay {
  display: none;

  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;

  &.is-active {
    display: flex;
  }
}

.lightbox {
  min-width: 300px;
  padding: 20px;
  background-color: colour(content-bg);
}

.lightbox__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.lightbox__title {
  margin: 0;
}

.lightbox__close {
  @extend .button--link;
}

.lightbox__content {

}
