.sidebar {
  width: 100%;
  padding: 0 10px;

  @include medium {
    width: 230px;
    padding: 0 5px 40px 14px;
  }

  @include large {
    width: 295px;
    padding: 0 15px 60px;
  }

  @include mediumlarge {
    .no-flexbox & {
      display: table-cell;
    }
  }
}
