.amex__heading {
  @include paymentheading;
}

.amex__content {
  display: flex;
  padding: 20px;
  font-size: 14px;
}

.amex__img {
  display: none;

  img {
    max-width: none;
  }

  @include mediumlarge {
    display: block;
    margin-right: 20px;
  }
}

.amex__details {
  width: 100%;

  @include mediumlarge {
    flex: 1;
    width: auto;
  }
}

.amex__label {
  cursor: pointer;
  line-height: 20px !important;
}

.amex__checkbox {
  float: left;
  margin: 2px 5px 0 0;
}

.amex__warn {
  padding: 20px;


  .btn_submit {
    display: block;
    margin: 0 auto;
  }
}

.modal--amex.is-open {
  z-index: 5; // needs to be higher than the loading spinner
}


.modal__win--amex {
  @extend %modal__win;

  width: 300px;
  border: 5px solid $border-colour;

  @include mediumlarge {
    width: 545px;
  }
}

.modal__win--amex__header {
  @extend %modal__win__header;

  border: none;
  background-color: $border-colour;
  color: colour(legacyHeadingText);
}

.modal__win--amex__title {
  @extend %modal__win__title;

  padding: 0 0 0 10px;
  font-size: 16px;
  text-transform: none;

  @include mediumlarge {
    font-size: 18px;
  }
}
