.blocklist {
  @include mediumlarge {
    margin: 40px 12px;
  }
}

.blocklist__heading {
  @include blockheading;

  @include large {
    @include subheading;
  }
}

.blocklist__content {
  @include unstyledlist;

  @include mediumlarge {
    display: flex;
    flex-wrap: wrap;
  }

  .no-flexbox & {
    overflow: hidden;
  }
}

.blocklist__item {
  padding-bottom: 2px;

  @include mediumlarge {
    flex: 0 1 33.33%;
    max-width: 33.33%; // IE11 Fix
    padding: 4px;

    .no-flexbox & {
      float: left;
      width: 33.33%;
    }
  }
}

.blocklist__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: colour(panel-light-bg);
  color: colour(link-dark-color);

  @include mediumlarge {
    padding: 20px 10px;
  }

  &:hover {
    background-color: colour(panel-default-bg--active);
    color: colour(link-primary-color);
  }
}
