/**
 * On sale now module
 */

.onsalenow {
  @extend %block;

  justify-content: space-around;
  width: 100%;

  @include large {
    width: 57%;
    margin: 12px;
  }
}

.onsalenowad {
  @extend %block__item;

  display: none;

  &:hover {
    background-color: transparent;
  }

  @include large {
    display: block;
    width: 100%;
    margin-top: 25px;
    border: 0;
    background-color: inherit;
    margin-left: 3px;
  }
}
