%block {
  max-width: $max-page-width - 20px;
  margin: 0 auto;

  @include mediumlarge {
    display: flex;
    flex-wrap: wrap;

    .no-flexbox & {
      display: block;
    }
  }

  .fullwidth & {
    max-width: $max-page-width;
  }

  .no-flexbox & {
    float: left;
  }
}

%blockgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;

  background-color: colour(content-bg);

  @include mediumlarge {
    padding: 25px 0;
  }

  .no-flexbox & {
    display: block;

    //TODO: @extend %clearfix;
    zoom: 1;

    &::before,
    &::after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
    }

    &::after {
      clear: both;
    }
  }
}

%blockgroup__row {

}

%blockgroup__header {
  @include blockheading;

  @include large {
    display: none;
  }
}
